

<link rel="stylesheet" href="~/css/AccessDenied.css" asp-append-version="true" />

    <div class="Incontainer">
    <h1 class="forbiddenClass">Sorry folks, page is forbidden.</h1>
        <p>The moose out front shoulda told ya.</p>
    </div>


