<link rel="stylesheet" href="~/css/AccessDenied.css" asp-append-version="true" />

    <div class="Incontainer">
        <h1>Sorry folks, page is forbidden.</h1>
        <p>The moose out front shoulda told ya.</p>
        <a asp-action="Login" asp-controller="Auth">Back to Login</a>
    </div>
